@import './base.css';

#app {
    margin: 0;
    padding: 0;
    border: 0;
    min-height: 100vh;
}

:root {
    /**图标颜色*/
    --logo-color: #00b3ff;

    /**主题颜色的定义*/
    --t-color-1: #00b2ff;

    /** 字体颜色的一些定义 */
    --f-color-0: rgba(0, 0, 0, 1);
    --f-color-1: rgba(0, 0, 0, 0.6);
    --f-color-2: rgba(0, 0, 0, 0.3);

    /** 布局主要颜色 */
    --page-bgc: #f7f8fa;

    /*如果需要hover可点击提示颜色*/
    --main-hover-bg: rgba(132, 133, 141, 0.18);
    /*如果需要框的颜色*/
    --main-border-c: #d8d8d8;

    /**提示功能颜色*/
    --tip-color-error: #ca1414;
    --tip-color-success: #4c9c4c;
    --tip-color-warning: #f0ad4e;
    --tip-color-info: #5bc0de;
}

/**---------------文件列表相关 FileTypeIcon.vue--------------------*/
:root {
    --file-icon-c: var(--t-color-1);
    --folder-icon-c: var(--t-color-1);
}

/**---------------BriwesFile.vue--------------------*/
:root {
    --upline-color: #e4e7eb;
    --upline-item-color: #f0f2f4;
}